@import "tailwindcss";

* {
  font-family: Outfit;
}

body {
  background-color: rgb(10, 10, 10);
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.Border {
  border-width: 0.1px;
  border-color: #374151;
}

.Border2 {
  border-width: 0.1px;
  border-color: #374151;
}

.BorderHover {
  border-width: 0.1px;
  border-color: #374151;
}

.BorderHover:hover {
  border-color: #4b5563;
}

@media (max-width: 640px) {
  /* Small devices */
  .Border {
    border: none;
  }
}
